<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
          <h1>Can you the the change?</h1>
        <h2>Das Boot - WWII Shipwreck Dive Locations</h2>
        <img src="/images/shipwreck.jpg" class="img-rounded img-responsive"/>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Shipwreck List</h2>
          <p><a class="btn btn-default" href="#/shipwrecks" role="button">Click Here! &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Awesome!</p>
      </footer>
    </div> <!-- /container -->
